
* {
    box-sizing: border-box;
    text-align: center;
}

body {
     background-image: url("http://bozhuwallpaper.com/img/star-wars-sith-wallpapers-full-hd-As-Wallpaper-HD.jpg");
 }

 #header-title {
    font-family: 'Rammetto One', cursive;
    font-size: 3.5rem;
    color: gray;
    padding: 0px 10px;
    margin-bottom: 20px;
 }

 h3 {
    font-family: 'Permanent Marker', cursive;
    color: white;
    line-height: 1.5;
    font-size: 25px;
    padding: 10px;
 }

 .newBtn {
     width: 195px;
     height: 195px;
     background-color: white;
     border: solid 1px green;
     margin: 5px;
 }

 .availDefenders {
     background: red;
     border: solid 1px gray;
 }

 .pickedDefender {
     background: black;
     color: white;
 }

 .newBtn:hover {
    opacity: 0.5;
    width: 195px;
    height: 195px;
}
 

 img {
     width: 140px;
     height: 110px;
     border: solid 1px green;
 }

 p {
    font-family: 'Permanent Marker', cursive;
    size: 8px;
 }

 .pTitle {
     margin-bottom: 10px;
     font-family: 'Permanent Marker', cursive;
     color: white;
     font-size: 20px;
 }

 .pContent {
    margin-bottom: 10px;
    font-family: 'Roboto Mono', monospace;
    color: white;
    font-size: 12px;
    text-align: center;
}

 #player-opponent {
     margin-bottom: 50px;
 }

 #attackId {
     margin-top: 50px;
     margin-bottom: 50px;
 }

 .restart {
     display: none;
 }

 .lost {
     font-family: 'Rammetto One', cursive;
     color: red;
 }

 .win {
    font-family: 'Rammetto One', cursive;
    color: blue;
}

.draw {
    font-family: 'Rammetto One', cursive;
    color: white;
}

 .attackText {
    font-family: 'Permanent Marker', cursive;
    color: black;
    font-size: 20px;
}

 
